<app-menu></app-menu>
<app-navegacio></app-navegacio>

<article>

  <div class="contpro" id="pro1">
    <img src="../../assets/imatges/creatinas.png" >
    <p class="titolpro">500g de Creatina </p>
    <p>40,59€</p>
    <button id="botpro1" class="bot_carrito"><img src="../../assets/imatges/carrito.png"/></button>
  </div>


  <div class="contpro" id="pro2">
    <img src="../../assets/imatges/proteina.jpg"/>
    <p class="titolpro">2kg de Proteina</p>
    <p>80,59€</p>
    <button id="botpro2" class="bot_carrito"><img src="../../assets/imatges/carrito.png"/></button>
  </div>


  <div class="contpro" id="pro3">
    <img src="../../assets/imatges/pantalon.png" >
    <p class="titolpro">Pantaló Nike d'home</p>
    <p>29,99€</p>
    <button id="botpro3" class="bot_carrito"><img src="../../assets/imatges/carrito.png"/></button>
  </div>


  <div class="contpro" id="pro4">
    <img src="../../assets/imatges/barrita.jpg"/>
    <p class="titolpro">Barretes energetiques xocolata</p>
    <p>24,59€</p>
    <button id="botpro4" class="bot_carrito"><img src="../../assets/imatges/carrito.png"/></button>
  </div>


  <div class="contpro" id="pro5">
    <img src="../../assets/imatges/tupper.png.png"/>
    <p class="titolpro">Tupper de plàstic</p>
    <p>8€</p>
    <button id="botpro5" class="bot_carrito"><img src="../../assets/imatges/carrito.png"/></button>
  </div><br/>


  <div class="contpro" id="pro6">
    <img src="../../assets/imatges/strapss.png"/>
    <p class="titolpro">Straps de tela</p>
    <p>15,99€</p>
    <button id="botpro6" class="bot_carrito"><img src="../../assets/imatges/carrito.png"/></button>
  </div>


  <div class="contpro" id="pro7">
    <img src="../../assets/imatges/mochila.png.png"/>
    <p class="titolpro">Motxilla de competició</p>
    <p>24,59€</p>
    <button id="botpro7" class="bot_carrito"><img src="../../assets/imatges/carrito.png"/></button>
  </div>


  <div class="contpro" id="pro8">
    <img src="../../assets/imatges/rodilleras.png"/>
    <p class="titolpro">Genollera</p>
    <p>9,99€</p>
    <button id="botpro8" class="bot_carrito"><img src="../../assets/imatges/carrito.png"/></button>
  </div>

  <div class="contpro" id="pro9">
    <img src="../../assets/imatges/top.jpg"/>
    <p class="titolpro">Top Nike dona</p>
    <p>25.99€</p>
    <button id="botpro9" class="bot_carrito"><img src="../../assets/imatges/carrito.png"/></button>
  </div>

  <div class="contpro" id="pro10">
    <img src="../../assets/imatges/leggins.png"/>
    <p class="titolpro">Leggins Nike dona</p>
    <p>30€</p>
    <button id="botpro10" class="bot_carrito"><img src="../../assets/imatges/carrito.png"/></button>
  </div>

</article>

<aside>
  <div id="cont_cat">
    <h1> Categories </h1>
    <li><a routerLink="/cataleg" routerLinkActive="active">Tot</a> </li>
    <li><a routerLink="/cataleg/roba" routerLinkActive="active">Roba</a> </li>
    <li><a routerLink="/cataleg/accessoris" routerLinkActive="active">Accesoris</a> </li>
    <li><a routerLink="/cataleg/suplements" routerLinkActive="active"> Suplements</a> </li>
  </div>
</aside>

<app-peu-pagina></app-peu-pagina>
