article{
  background: linear-gradient(gainsboro, lightblue);
  width: 100%;
  height: 162%;
  display: inline-block;
  text-align: center;
  font-size: 120%;
}

.container {
  margin-left: 30%;
  padding:0;
  box-sizing: border-box;
}

.container {
  width:40%;
  box-shadow: 7px 13px 37px rgba(0,0,0, .5);
  background-color: whitesmoke;
}

section p {
  overflow: hidden;
  max-height: 0;
  text-align: justify;
  font-family: "arial";
  background-color: whitesmoke;
}

section a {
  text-decoration: none;
  display: block;
  text-align: left;
  padding: 10px;
  font-family: "arial";
  border-bottom: 2px solid grey;
  background-color: whitesmoke;

}

section:target p {
  max-height: 20%;
  padding: 10px;
}
