<app-menu></app-menu>
<app-navegacio></app-navegacio>

<article>

  <div class="contpro">
    <img src="../../assets/imatges/creatinas.png" >
    <p class="titolpro">500g de Creatina </p>
    <p>40,50€</p>
  </div>


  <div class="contpro">
    <img src="../../assets/imatges/proteina.jpg"/>
    <p class="titolpro">2kg de Proteina</p>
    <p>80,59€</p>
  </div>

  <div class="contpro">
    <img src="../../assets/imatges/barrita.jpg"/>
    <p class="titolpro">Barretes energetiques xocolata</p>
    <p>24,59€</p>
  </div>

</article>

<aside>
  <div id="cont_cat">
    <h1> Categories </h1>
    <li><a routerLink="/cataleg" routerLinkActive="active">Tot</a> </li>
    <li><a routerLink="/cataleg/roba" routerLinkActive="active">Roba</a> </li>
    <li><a routerLink="/cataleg/accessoris" routerLinkActive="active">Accesoris</a> </li>
    <li><a routerLink="/cataleg/suplements" routerLinkActive="active"> Suplements</a> </li>
  </div>
</aside>

<app-peu-pagina></app-peu-pagina>
