<app-menu></app-menu>
<app-navegacio></app-navegacio>

<article>

  <div class="contpro" id="pro1">
    <img id="imgimg" [src]="imatges[0].creatina" >
    <p class="titolpro">500g de Creatina </p>
    <p>40,59€</p>
    <button (click)="addProducte('pro1')" id="botpro1" class="bot_carrito"><img src="../../assets/imatges/carrito.png"/></button>
  </div>


  <div class="contpro" id="pro2">
    <img [src]="imatges[0].proteina"/>
    <p class="titolpro">2kg de Proteina</p>
    <p>80,59€</p>
    <button (click)="addProducte('pro2')" id="botpro2" class="bot_carrito"><img src="../../assets/imatges/carrito.png"/></button>
  </div>

  <div class="contpro" id="pro4">
    <img [src]="imatges[0].barretes"/>
    <p class="titolpro">Barretes energetiques xocolata</p>
    <p>24,59€</p>
    <button (click)="addProducte('pro4')" id="botpro4" class="bot_carrito"><img src="../../assets/imatges/carrito.png"/></button>
  </div>

</article>

<aside>
  <div id="cont_cat">
    <h1> Categories </h1>
    <li><a routerLink="/cataleg" routerLinkActive="active">Tot</a> </li>
    <li><a routerLink="/cataleg/roba" routerLinkActive="active">Roba</a> </li>
    <li><a routerLink="/cataleg/accessoris" routerLinkActive="active">Accesoris</a> </li>
    <li><a routerLink="/cataleg/suplements" routerLinkActive="active"> Suplements</a> </li>
  </div>
</aside>

<app-peu-pagina></app-peu-pagina>
