nav{
  height: 10%;
  width: 100%;
  background: linear-gradient(lightblue, lightblue);
}

ul{
  display: flex;
}

#menu li{
  margin-top: 1%;
  margin-right: 6%;
  list-style: none;
}

#primer_menu{
  margin-left: 15%;
}

#menu a{
  text-decoration: none;
  font-size: 20px;
  color: #555555;
}

#menu ul li a:hover{
  color: white;
}
