<nav>
  <div id="menu">
    <ul>
      <li id="primer_menu"><a href="">Plana Principal</a> </li>
      <li><a routerLink="/cataleg" routerLinkActive="active">Catàleg</a> </li>
      <li><a routerLink="/cistella" routerLinkActive="active">Cistella</a> </li>
      <li><a routerLink="/condicions" routerLinkActive="active">Condicions </a> </li>
      <li><a routerLink="/contacte" routerLinkActive="active">Contacte</a> </li>
      <li><a routerLink="/registre" routerLinkActive="active">Registre </a> </li>
    </ul>
  </div>
</nav>
