<header>
  <img id="imgcap" [src]="imatges[0].logo"/>
  <form id="buscador" action="../../form-result.php" method="post" target="_blank">
    <p>
      <input type="search" name="busqueda" placeholder="Buscar...">
    </p>
  </form>

  <div id="prova" >
    <a id="info_user" routerLink="/dadesUser" routerLinkActive="active">Info</a>
    <p id="nom_sessio">{{mostrar}}</p>
    <img routerLink="/login" routerLinkActive="active" id="login" [src]="imatges[0].login"/>
    <img id="logout" [src]="imatges[0].logout"/>
  </div>

</header>
