header{
  height: 20%;
  width:100%;
  background: linear-gradient(gainsboro, lightblue);

}

header input {
  margin-top: 4%;
  margin-left:2%;
  font-size: 160%;
}

#imgcap{
  float: left;
  height: 97%;
  width: 18%;
  margin-bottom: 20px;
  margin-right: 20%;
}

#login{
  float: right;
  height:30%;
  width:3%;
  margin-right: 1%;
}

#login:hover {
  transform: scale(1.2);
}

#logout{
  float: right;
  height:30%;
  width:3%;
  margin-right: 1%;
}

#logout:hover {
  transform: scale(1.2);
}

#prova{
  height: 100%;
  width: 100%;
  margin-top: -4%;
}

#nom_sessio{
  margin-left:96%;
}

#info_user{
  text-decoration: none;
  font-size: 14px;
  color: #555555;
  margin-left: 54.5%;
}

#info_user:hover{
  color: white;
}
