  <header>
    <img id="imgcap" src="../../assets/imatges/imagen.png"/>
    <form id="buscador" action="../../form-result.php" method="post" target="_blank">
      <p>
        <input type="search" name="busqueda" placeholder="Buscar...">
      </p>
    </form>

    <div id="prova" >
      <p id="nom_sessio">{{mostrar}}</p>
      <img routerLink="/login" routerLinkActive="active" id="login" src="../../assets/imatges/login.png"/>
      <img id="logout" src="../../assets/imatges/logout.png"/>
    </div>

  </header>
