<app-menu></app-menu>
<app-navegacio></app-navegacio>


<article>
  <div id="general">
    <form method="get" id="formulari">
      <div id="cabecera">
        <h1> Inici sessió</h1>
      </div>
      <div id="text">
        Nom:
        <br>
        Contrasenya:
        <br>
      </div>

      <div id="cos">
        <input id="nom_inici" type="text" value="" required>
        <br>
        <input id="pass_inici" type="password" required>
        <br>
        <br>
        <a id="boton">INICIA</a>
      </div>


    </form>
  </div>
</article>


<app-peu-pagina></app-peu-pagina>

