<app-menu></app-menu>
<app-navegacio></app-navegacio>


<article>
  <div id="general">
    <form method="get" id="formulari">
      <div id="cabecera">
        <h1> Inici sessió</h1>
      </div>
      <div id="text">
        Email:
        <br>
        Contrasenya:
        <br>
      </div>

      <div id="cos">
        <input id="email_inici" name="emailLog" type="text" value="" required [(ngModel)]="this.emailLog"/>
        <br>
        <input id="pass_inici" name="passLog" type="password" required [(ngModel)]="this.passLog"/>
        <br>
        <br>
        <a (click)="login()" id="boton">INICIA</a>
      </div>


    </form>
  </div>
</article>


<app-peu-pagina></app-peu-pagina>

