article{
  background: linear-gradient(gainsboro, lightblue);
  width: 100%;
  height: 85%;
  display: inline-block;
}

article  {
  display: flex;
  flex-direction: column ;
  font-size: 120%;
  text-align: center;
}

.titolgran {
  display: flex;
  flex-direction: column;
  font-family: "Arial Black";
  font-size: 160%;
  text-decoration: underline;
}
.titol{
  display: flex;
  flex-direction: column;
  font-family: "Arial Black";
  font-size: 110%;
}
