<app-menu></app-menu>
<app-navegacio></app-navegacio>

<article>
  <a class="titolgran"><br/>Termes & Condicions</a><br/>

  <a><br/>
    <a class="titol">Compra. </a>
    Per a realitzar compres a mycreatine.com amb la seva seu al Institut Vidreres, sempre es fara
    <br/>quan és residis a ESPAÑA, si es fa una compra
    a traves d'una empresa de transport externa a la nostra botiga, no ens fem carrecs del que pugi succeir.<br/>
    <br/>

    <a class="titol">Metodes.</a>
    Els metodes de pagament seràn VISA/MASTERCARD/PAYPAL.
    <br/>
    <br/>

    <a class="titol">Devolucions. </a>
    Les devolucions ja sigui perque el producte no ha sigut el que s'esperaba o no són les talles correctes,
    <br/> les devolucions es faran els primers 30 dies despres de la rebuda del producte/es, un cop el termini aixi vençut ja no s'admetran devolucions.
  </a>
</article>


<app-peu-pagina></app-peu-pagina>
