<app-menu></app-menu>
<app-navegacio></app-navegacio>


<article>
  <div id="general">
    <form method="get" id="formulari">
      <div id="cabecera">
        <h1> Registre nous usuaris</h1>
      </div>
      <div id="text">
        Nom:
        <br>
        Cognom:
        <br>
        Telèfon:
        <br>
        Genere:
        <br>
        Email:
        <br>
        Contrasenya:
        <br>
        Naixament:
        <br>
        <input id="check" type="checkbox">

      </div>
      <div id="cos">
        <input id="nomm" type="text" value="" required>
        <br>
        <input type="text" value="" required>
        <br>
        <input type="text" value="" required>
        <br>
        <input type="radio" group="Genero" value="home"> Home
        <input type="radio" group="Genero" value="dona"> Dona
        <br>
        <input type="email" value="" required>
        <br>
        <input id="pass" type="password" required>
        <br>
        <input type="date"  required>
        <br>
      </div>
      <div id="peu">
        <p>He llegit i accepto les condicions d'aquesta
          promocion i la política de protecció de dades.
          Totes les teves dades aturaran a un fitxer del
          nostre ús exclusiu. Les teves dades no seran
          facilitades a tercers </p>
        <br>
        <a id="boton">ENVIA</a>
      </div>

    </form>
  </div>
</article>


<app-peu-pagina></app-peu-pagina>
