<app-menu></app-menu>
<app-navegacio></app-navegacio>

<article>
  <div class="contpro" id="pro3">
    <img src="../../assets/imatges/pantalon.png" >
    <p class="titolpro">Pantaló Nike d'home</p>
    <p>29,99€</p>
    <button (click)="addProducte('pro3')" id="botpro3" class="bot_carrito"><img src="../../assets/imatges/carrito.png"/></button>
  </div>

  <div class="contpro" id="pro9">
    <img src="../../assets/imatges/top.png"/>
    <p class="titolpro">Top Nike dona</p>
    <p>25.99€</p>
    <button (click)="addProducte('pro9')" id="botpro9" class="bot_carrito"><img src="../../assets/imatges/carrito.png"/></button>
  </div>

  <div class="contpro" id="pro10">
    <img src="../../assets/imatges/leggins.png"/>
    <p class="titolpro">Leggins Nike dona</p>
    <p>30€</p>
    <button (click)="addProducte('pro10')" id="botpro10" class="bot_carrito"><img src="../../assets/imatges/carrito.png"/></button>
  </div>

</article>

<aside>
  <div id="cont_cat">
    <h1> Categories </h1>
    <li><a routerLink="/cataleg" routerLinkActive="active">Tot</a> </li>
    <li><a routerLink="/cataleg/roba" routerLinkActive="active">Roba</a> </li>
    <li><a routerLink="/cataleg/accessoris" routerLinkActive="active">Accesoris</a> </li>
    <li><a routerLink="/cataleg/suplements" routerLinkActive="active"> Suplements</a> </li>
  </div>
</aside>

<app-peu-pagina></app-peu-pagina>
