<app-menu></app-menu>
<app-navegacio></app-navegacio>

<article>
  <div id="contenidor_article">
    <div id="img_articleee">
      <img class="fotos" src="straps.webp">
      <img class="fotos" src="tupper.png.png">
      <img class="fotos" src="creatinas.png">
      <img class="fotos" src="protein.png.webp">
    </div>
    <div id="text_article">
      <p class="text"> Straps de tela </p>
      <p class="text"> Tuper de plàstic </p>
      <p class="text"> Creatina sabor xocolate 1 kg </p>
      <p class="text"> Proteina sabor xocolate 1kg </p>
    </div>
    <div id="preu_article">
      <p class="text"> 14,80€ </p>
      <p class="text"> 9,00€  </p>
      <p class="text"> 42,99€ </p>
      <p class="text"> 24,58€ </p>
    </div>
  </div>
</article>
<aside>
  <div id="preu_general">
    <h1> Preu:</h1>
    <div id="text_llista">
      <p> Total </p>
      <p> Descompte </p>
      <hr>
      <p> TOTAL  </p>
    </div>
    <div id="preu_llista">
      <p>90.57€</p>
      <p>7.95€</p>
      <hr>
      <p>82,62€ </p>
    </div>
    <div id="preu_total">
      <a href="#" id="boton">PAGAR</a>
    </div>
  </div>
</aside>


<app-peu-pagina></app-peu-pagina>
