article{
  background: linear-gradient(gainsboro, lightblue);
  width: 80%;
  height: 95%;
  display: inline-block;
}

aside{
  background: linear-gradient(lightblue, cornflowerblue);
  height: 95%;
  width: 20%;
  display: inline-block;
  float: right;
}

.contpro{
  height: 35%;
  width: 15%;
  float: left;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 10%;
}

.titolpro{
  font-family: "Bodoni MT";
}

.contpro img{
  height: 80%;
  width: 100%;
}

.contpro p{
  text-align: center;
}

aside #input {
  margin-top: 20%;
  margin-left: 5%;
}

#cont_cat{
  margin-left: 5%;
  height: 80%;
  width: 80%;

}

#cont_cat a{
  text-decoration: none;
  font-size: 20px;
  color: white;
}

#cont_cat li{
  margin-top: 1%;
  text-align: center;
  list-style: none;
}

aside h1{
  text-align: center;
}

.bot_carrito{
  height: 15%;
  width: 20%;
}

