<app-menu></app-menu>
<app-navegacio></app-navegacio>

<article>

  <div class="contpro" id="pro6">
    <img src="../../assets/imatges/strapss.png"/>
    <p class="titolpro">Straps de tela</p>
    <p>15,99€</p>
    <button (click)="addProducte('pro6')" id="botpro6" class="bot_carrito"><img src="../../assets/imatges/carrito.png"/></button>
  </div>


  <div class="contpro" id="pro7">
    <img src="../../assets/imatges/mochila.png.png"/>
    <p class="titolpro">Motxilla de competició</p>
    <p>24,59€</p>
    <button (click)="addProducte('pro7')" id="botpro7" class="bot_carrito"><img src="../../assets/imatges/carrito.png"/></button>
  </div>


  <div class="contpro" id="pro8">
    <img src="../../assets/imatges/rodilleras.png"/>
    <p class="titolpro">Genollera</p>
    <p>9,99€</p>
    <button (click)="addProducte('pro8')" id="botpro8" class="bot_carrito"><img src="../../assets/imatges/carrito.png"/></button>
  </div>

</article>

<aside>
  <div id="cont_cat">
    <h1> Categories </h1>
    <li><a routerLink="/cataleg" routerLinkActive="active">Tot</a> </li>
    <li><a routerLink="/cataleg/roba" routerLinkActive="active">Roba</a> </li>
    <li><a routerLink="/cataleg/accessoris" routerLinkActive="active">Accesoris</a> </li>
    <li><a routerLink="/cataleg/suplements" routerLinkActive="active"> Suplements</a> </li>
  </div>
</aside>

<app-peu-pagina></app-peu-pagina>
